<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>{% block title %}{% endblock %}Sentiment Analysis</title>

	<!-- CSS are placed here -->
	<link media="all" type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link media="all" type="text/css" rel="stylesheet" href="{% static "css/styles.css" %}">
	<link media="all" type="text/css" rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
	
	<!-- Scripts are placed here -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/mustache.min.js" %}"></script>
	<script src="{% static "js/jquery-ui.min.js" %}" defer></script>
	<script src="{% static "js/jquery.cookie.min.js" %}" defer></script>
	<script src="{% static "js/bootstrap.min.js" %}" defer></script>
	<script src="{% static "js/django_ajax.js" %}" defer></script>
	<script src="{% static "js/spa.js" %}" defer></script>
	<script src="{% static "js/mustache.min.js" %}" defer></script>
	<script src="{% static "js/d3.min.js" %}" defer></script>
	<!-- <script src="{% static "js/repeat.js" %}" defer></script> -->
</head>
<body>
	<div class="container">

		<header style="overflow:hidden;">
			<h1 class='text-center'>Sentiment Analysis</h1>
		</header>

		{# % if user.is_authenticated % #}
			<nav class="navbar navbar-default">
				<ul class="nav navbar-nav">
					<li>
						<a href="/twit" class="btn">
							<i class="fa fa-twitter"></i>
							Twitter
						</a>
					</li>
					<li>
						<a href="/tumblr" class="btn">
							<i class="fa fa-tumblr"></i>
							Tumblr
						</a>
					</li>
					<li>
						<a href="/goog" class="btn">
							<i class="fa fa-google"></i>
							Gmail
						</a>
					</li>
					<li>
						<a href="/testmod" class="btn ajax">
							<i class="fa fa-file-text-o"></i>
							Text Mod
						</a>
					</li>
					<li>
						<a href="/reddit" class="btn">
							<i class="fa fa-reddit">
							</i>
							reddit
						</a>
					</li>

					{% block header %}
					{% endblock %}
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/users/profile" class="btn ajax">
							<span class="glyphicon glyphicon-user"></span>
							Profile
						</a>
					</li>
					<li>
						<a href="/users/logout" class="btn">
							<span class="glyphicon glyphicon-off"></span>
							Logout
						</a>
					</li>
				</ul>
			</nav>
		{# % endif % #}

		<div class="row">

			<div class="col-md-9">
				<div id="ajaxLoadingImage" style="display: none;" >
					<div class="panel panel-default">

						<div class="panel-heading panel-title">
							<span class="glyphicon glyphicon-warning-sign"></span>
							Loading, please wait.
						</div>

						<div class="panel-body">
							<img src="{% static 'images/ajax_loader.gif' %}" width="256px" height="256px" />
						</div>

					</div>
				</div>

				<main>
				{% block content %}
				{% endblock %}
				</main>
			</div>

			<div class="col-md-3">
				<div class="panel panel-default">

					<div class="panel-heading panel-title">
						<span class="glyphicon glyphicon-tree-conifer"></span>
						Game Panel
					</div>

					<div class="panel-body">
						Stuff here!
					</div>

				</div>
			</div>
		</div>
		
	</div>
</body>
</html>
